html{
    caret-color: transparent !important;
    scroll-behavior: smooth;
    cursor: grab;
}
body{
    
    background-color: black;
    color: blanchedalmond;
}
h1,#result{
    font-family: 'Yellowtail', cursive;
}
button:hover ,a {
    cursor: grabbing;
}

a:link, a, a:hover, a:visited, a:active
{ 
 text-decoration:none; 
 color: inherit !important;
} 
